@font-face {
    font-family: 'Proxima Nova Bo';
    src: url('/assets/fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('/assets/fonts/ProximaNova-Bold.woff') format('woff'),
        url('/assets/fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova XBo';
    src: url('/assets/fonts/ProximaNova-Extrabld.woff2') format('woff2'),
        url('/assets/fonts/ProximaNova-Extrabld.woff') format('woff'),
        url('/assets/fonts/ProximaNova-Extrabld.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('/assets/fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('/assets/fonts/ProximaNova-Regular.woff') format('woff'),
        url('/assets/fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('/assets/fonts/ProximaNovaT-Thin.woff2') format('woff2'),
        url('/assets/fonts/ProximaNovaT-Thin.woff') format('woff'),
        url('/assets/fonts/ProximaNovaT-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Bl';
    src: url('/assets/fonts/ProximaNova-Black.woff2') format('woff2'),
        url('/assets/fonts/ProximaNova-Black.woff') format('woff'),
        url('/assets/fonts/ProximaNova-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

$font-color: #0D302D;
$font-secondary-color: #6E928F;
$primary-color: #2B8EF5;
$secondary-color: #FDB146;
$tertiary-color: #EAADEA;

::selection {
  background: #FFEFD9;
}

::-moz-selection {
  background: #FFEFD9;
}

.page-content {	
	padding: 0 !important;
}

.primary-color {
	color: $primary-color;
}

.secondary-color {
	color: $secondary-color;
}

.tertiary-color {
	color: $tertiary-color;
}

.transitioning-period {
	transition: color 5s ease;
}


h1, h2 {
	font-family: 'Proxima Nova Bl', "Arial Black", Sans-Serif;
	margin: 0;
	color: $font-color;
}

h2 {
	font-size: 2.5rem;
	line-height: 5rem;
}

h3 {	
	font-family: 'Proxima Nova Rg', Arial, "Helvetica Neue", Helvetica, Sans-Serif;
	margin: 0;
	color: $font-color;
	font-size: 1.3rem;
}

p {
	font-family: 'Proxima Nova Rg', Arial, "Helvetica Neue", Helvetica, Sans-Serif;
	color: $font-color;
}

#atf {
	display: flex;
	align-items: center;
    min-height: calc(75vh - 80px);
    padding: 40px 0;
}

#main-title {
	font-size: 4rem;
	line-height: 4rem;
}

#key-messaging-container {
	padding: 40px 0 40px 0;
}

#sticky-footer {
	position: fixed;
    width: 100%;
	height: 90px;
	bottom: -100px;
	background-color: #f5f5f5;
	z-index: 1000;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	transition: bottom 0.2s ease-in-out;
}

#sticky-footer-content {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-top: 15px;
}

#sticky-footer-content-copy {
	margin-left: 20px;
	min-width: 0;
}

#sticky-footer-content p {
	margin-bottom: 0;
	line-height: 1.7em;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.show-footer {
	bottom: 0px !important;
	transition: bottom 0.2s ease-in-out;
}

.key-messaging  {
	font-size: 1.8rem;
	line-height: 2.8rem;
	color: #0D302D;
	margin: 0;
	font-family: 'Proxima Nova Rg', Arial, "Helvetica Neue", Helvetica, Sans-Serif;
}

.button-anchor, .button-anchor:hover, .button-anchor:active {
	text-decoration: none !important;
}

.description {
	margin-bottom: 0;
}

#update-application {
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	&:hover {
        color: $secondary-color;
    }
}

.button {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	background-color: $primary-color;
	text-shadow: 2px 2px 6px rgba(0,0,0,0.2);
	font-family: 'Proxima Nova Bo', "Arial Black", Sans-Serif;
	font-size: 1.3rem;
	color: white;
	width: 200px;
	height: 70px;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 20px;
	transition: all 0.3s ease-in-out;
	&:hover {
        background-color: $secondary-color;
        top: -1px;
    }
    &:active {
        background-color: $tertiary-color;
    }
}

.button::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(253, 177, 70, 0.6);
  transition: opacity 0.3s ease-in-out;
}

.button:hover::after {
  opacity: 1;
}

.button:active::after {
  opacity: 0;
}

.button::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(234, 173, 234, 0.6);
  transition: opacity 0.3s ease-in-out;
}

.button:active::before {
  opacity: 1;
}

.secondary_button {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	background-color: $primary-color;
	text-shadow: 2px 2px 6px rgba(0,0,0,0.2);
	font-family: 'Proxima Nova Bo';
	font-size: 1.3rem;
	color: white;
	width: 150px;
	height: 60px;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	&:hover {
        background-color: $secondary-color;
        top: -1px;
    }
    &:active {
        background-color: $tertiary-color;
    }
}

.secondary_button::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(253, 177, 70, 0.6);
  transition: opacity 0.3s ease-in-out;
}

.secondary_button:hover::after {
  opacity: 1;
}

.secondary_button:active::after {
  opacity: 0;
}

.secondary_button::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(234, 173, 234, 0.6);
  transition: opacity 0.3s ease-in-out;
}

.secondary_button:active::before {
  opacity: 1;
}

#experts-container {
    display: flex;
    flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	min-height: 20vh;
	padding: 0 0 15vh 0;
}

#experts-header {
	border-bottom: 2px solid $font-secondary-color;
	width: 100%;
}

#experts-image {
	margin-top: 20px;
	width: 100%;
}

#experts-image-mobile {
	margin-top: 20px;
	width: 100%;
	display: none;
}

#index, #forward {
	width: 200px;
}

#forward {
	margin-top: 13px;
}

#stride, #clearscore {
	width: 100px;
}

#next-up-container {
	margin: 32px 0 64px 0;
}

#previously-container {
	margin: 30px 0 60px 0;
}

#next-up, .previously {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.previously {
	margin-bottom: 32px;

}

.previously:last-of-type {
	margin-bottom: 0;

}

#next-up-header, #previously-header {
	width: 100%;
}

.profile-image {
	width: 250px;
	border-radius: 5px;
	
}

.profile {
	padding: 0 0 0 32px;
}

.name, .date {
	font-size: 1.4rem;
}

#quote-container {
	position: relative;
    display: flex;
    flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	min-height: 20vh;
	left: -42px;
	width: calc(100% + 42px);
	margin-bottom: 30px;
}

#quotes-header {
	position: relative;
	border-bottom: 2px solid $font-secondary-color;
	width: calc(100% - 42px);
	left: 42px;
	margin-bottom: 16px;
}

.quote {
	position: relative;
	width: 200px;
	font-size: 1.1rem;
	padding: 0 16px 0 42px;
}

.big-quote {
	position: relative;
	width: 100%;
	font-size: 1.1rem;
	padding: 0 0 0 42px;
	left: -42px;
}

.quote p, .big-quote p {	
	color: $font-secondary-color;
}

#quote-2 {	
	width: 200px;
}

.quote::before, .big-quote::before{
	font-family: ProximaNova-Reg; 
  	content: "\201C";
  	color: $font-secondary-color;
  	font-size: 4rem;
  	position: absolute;
  	left: 0px;
  	top: -20px;
}

.quote::after{
  content: '';
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.explainer-container {
	margin: 96px 0;
}

@media (min-width: 481px) and (max-width: 767px)  {

	.quote, #quote-2 {
		left: 42px;
		width: calc(100% - 84px);
	}

	.big-quote {
		left: 0;
		width: calc(100% - 84px);
	}

	#quotes-header {
		margin-bottom: 16px;
	}

	#quote-container {
		margin-bottom: 20px;
	}

}

@media (max-width: 767px)  {

	#next-up, .previously {
		flex-wrap: wrap;
	}

	.profile {
		padding: 16px 0 0 0;
	}
	
}

@media (max-width: 480px)  {

	.key-messaging {
		font-size: 1.3rem;
		line-height: 2.4rem;
	}

	h3 {
		font-size: 1.2rem;
	}

	#experts-image-mobile {
		display: block;
	}

	#experts-image {
		display: none;
	}

	#next-up-container, #previously-container {
		margin: 0 0 60px 0;
	}

	.quote, #quote-2 {
		left: 42px;
		width: calc(100% - 84px);
	}

	.big-quote {
		left: 0;
		width: calc(100% - 84px);
	}

	#quotes-header {
		margin-bottom: 16px;
	}

	#quote-container {
		margin-bottom: 20px;
	}

	p {
		font-size: 1.1rem;
	}

	#index, #forward {
		width: 150px;
	}

	#forward {
		margin-top: 13px;
	}

	#stride, #clearscore {
		width: 75px;
	}

	#index, #forward {
		padding: 0 40px 0 0;
	}

	#stride, #clearscore {
		padding: 0 40px;
	}

	.button::after, .secondary_button::after, .button::before, .secondary_button::before {
		display: none;
	}

}

@media (max-width: 320px)  {

	.key-messaging, h3 {
		font-size: 1.2rem;
		line-height: 2rem;
	}

	.button {
		height: 70px;
	}

	.big-quote {
		width: calc(100% - 48px);
	}

	#stride, #clearscore {
		padding: 0;
	}

}